.background {
    background: url("../img/main5-bg.jpg") fixed no-repeat;
    width: 100%;
    height: 800px;
    margin: 5% 0;
    margin-top: 10%;
}

.text_pack {
    visibility: hidden;
    color: #fff;
    position: absolute;
    margin-top: 100px;
    left: 7%;
}

.dnNow {
    font-size: 20px;
    padding: 20px;
}   

.donated{
    text-align: center;
    padding: 40px;
}

.donatedMoney {
    font-size: 6em;
}


.dnPromo {
    font-size: 5em;
    line-height: 1.3;
    width: 420px;
}

.w-btn-outline {
    position: absolute;
    left: 27%;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    font-size: 40px;
    transition: 0.25s;
    border: none;
}

.w-btn-outline:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-outline:active {
    transform: scale(1.5);
}

.w-btn-yellow {
    background-color: #ffbb2e;
    color: #fff;
}

.w-btn-yellow-outline {
    background-color: #fff;
    color: #ffbb2e;
}

.w-btn-yellow-outline:hover {
    background-color: #ffbb2e;
    color: #fff;
}
