    /*header*/
    #headerwrap {
        position: fixed;
        width: 100%;
        background-color: #fff;
        border-bottom: 3px solid #FFF987;
        z-index: 2;
        
    }

    #header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 1200px;
        height: 90px;
        margin: 0 auto;
    }

    #nav { 
        display: flex;
    }

    .nav_menu {
        position: relative;
        display: inline-block;
        padding: 0 25px;
        font-size: 1.5em;
        font-weight: 800;
        letter-spacing: -5;
        cursor: pointer;
    }

    /*nav 드롭다운 호버*/
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #F9F9F9;
        font-weight: 400;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        font-size: 0.8em;
        display: block;
    }
   
    .dropdown-content a:hover {
        background-color: #FFF987
    }

    .nav_menu:hover .dropdown-content,
    .userInfo:hover .dropdown-content {
        display: block;
    }
    .nav_menu:hover{
        transform: scale( 1.1 );
    }
    /*userInfo*/
    .userInfo {
        position: relative;
        display: inline-block;
    }
    .userIcon{
        border: none;
        background-color: transparent;
    }

    /*main*/
    #main {
        padding-top: 100px;
        background-color: #f7f7f7;
    }

    #main_area {
        position: relative;
        width: 1200px;
        margin: 0 auto;
    }

    /*swiper*/
    .swiper {
        height: 400px;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    /*content*/
    #content{
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-items: center;
        padding: 30px 0 30px 0;
    }
    .info_hit{
        margin-bottom: 30px;
    }
    .info_hit, .info_regional{
        width: 400px;
        height: inherit;
        padding: 30px;
        background-color: #FFF;
    }

    .info_hit h1, .info_regional h1{
        display: inline-block;
        font-weight: 900;
        letter-spacing: -5;
        padding-bottom: 15px;
        font-size: 1.5em;
    }
    .info_hit>a, .info_regional>a{
        float: right;
        font-size: 0.8em;
    }
    .info_hit ul li{
        padding-bottom: 10px;
    }
    .area_list{
        text-align:center;
    }

    .content_area_2 div{
        width: 700px;
        height: 660px;
        background-color: #fff;
    }
    /*footer*/
    #footerwrap {
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #FFF987;
        z-index: 2;
    }

    #footer {
        width: 1200px;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .footer_col {
        display: flex;
        justify-content: center;
    }

    .col_content {
        margin: 30px 100px;
    }

    .col_content li:first-child {
        font-size: 1.2em;
        font-weight: 800;
        margin-bottom: 20px;
    }

    .col_content li {
        padding: 5px 0;
    }

    .footer_row ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .row_icon li:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    /* .row_icon li, .row_content li {
        padding: 0 10px;
    } */

    .row_content li:not(:first-child) {
        border-left: 1px solid #b8b8b8;
    }

    .copyright{
        text-align: center;
    }

    /*top 버튼*/
    #moveTopBtn {
        position: fixed;
        bottom: 5%;
        right: 5%;
        width: 50px;
        cursor: pointer;
    }
