#honeyvideo{
    position: relative;
    z-index: 1;
}

.textBox{
    color: orange;
    font-size: 20px;
    margin-left: 10%;
    bottom: 500px;
    z-index: 2;
    position: relative;
}

.text1{
font-weight: 800;
    font-size: 80px;
}

.text2{
font-weight: 600;
}

.videoWrap{
    height: 70%;
}
.btnMore{
    text-decoration: none;
    display: inline-block;
    color: #fff;
}

section{
    background-color: #f58220;
    width: 100%;
    height: 500px;
    color: #fff;
}