    /*header*/
    #headerwrap {
        position: fixed;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #FFF987;
        z-index: 2;
    }

    #header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 1200px;
        height: 90px;
        margin: 0 auto;
    }

    #nav {
        display: flex;
    }

    .nav_menu {
        position: relative;
        display: inline-block;
        padding: 0 25px;
        font-size: 1.5em;
        font-weight: 800;
        letter-spacing: -5;
        cursor: pointer;
    }

    /*nav 드롭다운 호버*/
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #F9F9F9;
        font-weight: 400;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        font-size: 0.8em;
        display: block;
    }
   
    .dropdown-content a:hover {
        background-color: #FFF987
    }

    .nav_menu:hover .dropdown-content,
    .userInfo:hover .dropdown-content {
        display: block;
    }
    .nav_menu:hover{
        transform: scale( 1.1 );
    }
    /*userInfo*/
    .userInfo {
        position: relative;
        display: inline-block;
    }
    .userIcon{
        border: none;
        background-color: transparent;
    }

    /*main*/
    #main {
        padding-top: 100px;
        background-color: #f7f7f7;
    }

    #main_area {
        position: relative;
        width: 1200px;
        margin: 0 auto;
        
    }

    /*content*/
    #content{
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-items: center;
        padding: 30px 0 30px 0;
    }
    .info_hit{
        margin-bottom: 30px;
    }
    .info_hit, .info_regional{
        width: 400px;
        height: inherit;
        padding: 30px;
        background-color: #FFF;
    }

    .info_hit h1, .info_regional h1{
        display: inline-block;
        font-weight: 900;
        letter-spacing: -5;
        padding-bottom: 15px;
        font-size: 1.5em;
    }
    .info_hit>a, .info_regional>a{
        float: right;
        font-size: 0.8em;
    }
    .info_hit ul li{
        padding-bottom: 10px;
    }
    .area_list{
        text-align:center;
    }

    .content_area_2 div{
        width: 700px;
        height: 660px;
        background-color: #fff;
    }
    /*footer*/
    #footerwrap {
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #FFF987;
        z-index: 2;
       
    }

    #footer {
        width: 1200px;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .footer_col {
        display: flex;
        justify-content: center;
    }

    .col_content {
        margin: 30px 100px;
    }

    .col_content li:first-child {
        font-size: 1.2em;
        font-weight: 800;
        margin-bottom: 20px;
    }

    .col_content li {
        padding: 5px 0;
    }

    .footer_row ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .row_icon li:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    .row_icon li, .row_content li {
        padding: 0 10px;
    }

    .row_content li:not(:first-child) {
        border-left: 1px solid #b8b8b8;
    }

    .copyright{
        text-align: center;
    }

    /*top 버튼*/
    #moveTopBtn {
        position: fixed;
        bottom: 5%;
        right: 5%;
        width: 50px;
        cursor: pointer;
    }

    /* 아이디패스워드 찾는 영역 */
    #idpw{
        width: 100%;
        height: 600px;
        display: flex;
        padding: auto;
        align-items: center;
    }

    #id{
        width: 50%;
        height: 600px;
        border-right:1px solid #FFF987;
    }

    #pw{
        width: 50%;
        height: 600px;       
    }






   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul,
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }        
  /* 로그인box */
  .register{
              width: 550px;
              margin: 200px auto 0;
              padding: 15px 20px;
              background: white;
              color: #2b2e4a;
              font-size: 14px;
              text-align: left;
              box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
          }
          .register h3{
              font-size: 20px;
              margin-bottom: 20px;
              text-align: center;
          }
          .register input{
              width: 100%;
              height: 40px;
              outline: none;
              padding: 10px;
              border: 1px solid #707070;
              transition: 0.3s;
          }
          .register input:valid, .register input:focus{
              border: 1px solid #2b2e4a;
          }
          .register .center{
              display: flex;
              align-items: center;
          }
          .register .flex{
              display: flex;
              flex-direction: column;
          }
          .register .flex .container{
              display: grid;
              grid-template-columns: 1fr 3fr 1fr;
              margin-bottom: 10px;
          }
          .register .flex .container .item:first-child{
             margin-right: 10px;
          }
          .register .flex .container .item .idcheck{
              height: 100%;
              margin-left: 10px;
              padding: 5px 15px;
              background: #2b2e4a;
              border: 1px solid #2b2e4a;
              color: white;
              font-size: 12px;
              transition: 0.3s;
          }
          .register .flex .container .item .idcheck:hover{
              background: white;
              color: #2b2e4a;
          }
          .register .flex .container .item select{
              height: 40px;
              padding: 10px;
              border: 1px solid #2b2e4a;
          }
          .register .submit{
              width: 100%;
              height: 40px;
              color: white;
              border: none;
              border: 1px solid #2b2e4a;
              background: #2b2e4a;
              transition: 0.3s;
          }
          .register .flex .container:last-child{
              margin: 0;
          }
          .register .submit:hover{
              width: 100%;
              height: 40px;
              border: none;
              border: 1px solid #2b2e4a;
              color: #2b2e4a;
              background: white;
          }
body{
    background-color: #FFF97B;
}

#BinBox{
    height: 40px;
    width: 306px;
}